@page
@model Forum.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<form method="post" class="form-login">
    <label asp-for="Input.UserName">username</label>
    <input asp-for="Input.UserName" />
    <label asp-for="Input.Password">password</label>
    <input type="password" asp-for="Input.Password"/>
    <button type="submit">Register</button>
</form>
